# .gitignore
git-filter-repo-2.47.0/
# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.dll
*.lib
*.exe

# Virtual Environments
venv/
ENV/
env/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
